################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
*.aux
*.log
/gradSemPres_191022.toc
/gradSemPres_191022.synctex.gz
/gradSemPres_191022.snm
/gradSemPres_191022.out
/gradSemPres_191022.nav
/.vs/GradSemPres/v15
/gradSemPres_191022.run.xml
/gradSemPres_191022.blg
/gradSemPres_191022.bcf
/gradSemPres_191022.bbl
/.vs/ProjectSettings.json
